@*<div class="credits"><span class="poweredby">@T("Powered by <a href=\"{0}\" target=\"_blank\">Orchard</a>", "http://www.orchardproject.net")</span> <span class="copyright">@T("&#169; The Theme Machine 2010.")</span></div>*@
    <p style="height: 50px;">
        <a class="bottom-logo" href="/"><img height="45" src="/Media/Default/Site/bottomlogo.gif" /></a>
    </p>
    <span id="footer-company">Powered By Enlightenment Co. Ltd.</span><br />
    <span>Enlightenment Swords and all associated pages and images © 2008 Enlightenment Co Ltd. All Rights Reserved</span>
    <br />
    <span id="footer-law">By clicking any link on any page associated with Enlightenment Swords or Enlightement Co Ltd. you agree that you are at least 18 years of age and not violating any local or international laws that may apply. You also agree that Enlightenment Co Ltd. is not in any way responsible for misuse of its products.</span>